<div class="flex flex-row justify-content-between">
    <div class="flex justify-content-start">
        <h3 class="p-0 m-0 mb-2">
            Previsión
        </h3>
    </div>
</div>

<div class="flex flex-row justify-content-between items-center">
    
    <div class="flex items-center ml-auto">
        
        <div class="flex items-center ml-2 mt-4">
            <div class="small-input-switch">
                <p-inputSwitch [(ngModel)]="adminView"  (onChange)="clickAdminView($event)" label="Admin View"></p-inputSwitch>
            </div>

            <span style="margin-left: 0.5rem;">Admin View</span>
        </div>
    </div>
</div>

<p-table 
    [style]="{'height': 'calc(100vh - 210px)', 'width': tableWidth}"
    [scrollable]="true"  selectionMode="single"  scrollHeight="flex"
    [value]="forecast" styleClass="p-datatable-striped" 
    [(filters)]="defaultFilters"  
    sortMode="single" 
    [columns]="selectedColumnNames"
    [reorderableColumns]="true" 
    (onColReorder)="onColReorder($event)" 
    (sortFunction)="customSort($event)" 
    [customSort]="true">
    <ng-template pTemplate="header" let-columns>

        <tr>

            <th *ngFor="let col of selectedColumnNames" class="{{col.field}} flex flex-column" pReorderableColumn>

                <div class="flex flex-row w-full top-header" pSortableColumn="{{col.composeField}}">
                    <span class="flex flex-1 justify-content-center">{{col.header}}</span>
                    <p-sortIcon field="{{col.composeField}}"></p-sortIcon>
                </div>

                <div class="w-full foot-header">

                    <p-columnFilter *ngIf="col.filterType == 'input'" class="w-full" type="text" field="{{col.composeField}}" [showMenu]="false" [showClearButton]="false" matchMode="{{col.matchMode != null ? col.matchMode : 'contains-and-null'}}">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <input tabindex="1" type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)" class="p-inputtext">
                        </ng-template>
                    </p-columnFilter>

                    <p-columnFilter *ngIf="col.filterType == 'dropdown'" class="w-full " field="{{col.composeField}}" matchMode="{{col.matchMode != null ? col.matchMode : 'contains-and-null'}}" [showMenu]="false" [showClearButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown tabindex="1" *ngIf="col.optionValue" #filterDropdown [options]="col.options" optionLabel="{{col.optionLabel}}" optionValue="{{col.optionValue}}" (onChange)="filter($event.value)" [showClear]="true" placeholder="..." [showClearButton]="false" [filter]="true"></p-dropdown>
                            <p-dropdown tabindex="1" *ngIf="!col.optionValue" #filterDropdown [options]="col.options" optionLabel="{{col.optionLabel}}" (onChange)="filter($event.value == null ? null : $event.value[col.optionLabel])" [showClear]="true" placeholder="..." [showClearButton]="false" [filter]="true"></p-dropdown>
                        </ng-template>
                    </p-columnFilter>

                    <p-columnFilter *ngIf="col.filterType == 'multiple'" class="w-full" field="{{col.composeField}}" matchMode="multiple" [showMenu]="false" [showClearButton]="false" value="1">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect tabindex="1" [ngModel]="col.initialValue" [options]="col.options" optionLabel="label" optionValue="value" (onChange)="filter($event.value)" [showClear]="true" placeholder="..."> </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>

                    <p-columnFilter *ngIf="col.filterType == 'date'" class="w-full" type="date" field="{{col.composeField}}" matchMode="{{col.matchMode != null ? col.matchMode : 'dateIn'}}" [showMenu]="false" [showClearButton]="false">
                        <ng-template pTemplate="filter" let-filter="filterCallback">
                            <p-calendar tabindex="1" #filterCalendar appendTo="body" readonlyInput="true" (onSelect)="filter($event)" (onClear)="filter($event)" (input)="filter()" [locale]="es" [firstDayOfWeek]="1" dateFormat="dd/mm/yy" [showClear]="true"></p-calendar>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>

            <th class="buttons flex flex-column">
                <div class="flex flex-row w-full top-header"></div>
                <div class="w-full foot-header"></div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-intern let-columns="columns">
        <tr [pSelectableRow]="intern" (dblclick)="addOrEditIntern(intern)">
            <td *ngFor="let col of selectedColumnNames" class={{col.field}}>
                <div *ngIf="!col.fieldExtra && !col.parse && !col.isDate" class="white-space-nowrap overflow-hidden text-overflow-ellipsis" pTooltip="{{intern[col.field]}}" tooltipPosition="top">
                    {{intern[col.field]}}
                </div>
                <div *ngIf="col.fieldExtra && !col.parse && !col.isDate" class="white-space-nowrap overflow-hidden text-overflow-ellipsis" pTooltip="{{intern[col.field]?.[col.fieldExtra]}}" tooltipPosition="top">
                    {{intern[col.field]?.[col.fieldExtra]}}
                </div>
                <div *ngIf="col.parse && !col.isDate" class="white-space-nowrap overflow-hidden text-overflow-ellipsis" pTooltip="{{col.parse(intern[col.field])}}" tooltipPosition="top">
                    {{col.parse(intern[col.field])}}
                </div>
                <div *ngIf="col.isDate" class="white-space-nowrap overflow-hidden text-overflow-ellipsis">
                    {{intern[col.field] | date : "dd/MM/yyyy"}}
                </div>
            </td>
            <td class="buttons">
                <button pButton pRipple type="button" pTooltip="Link" tooltipPosition="top" *ngIf="intern.link == null || intern.link == ''" icon="pi pi-link" class="p-button-rounded p-button-plain p-button-text w-2rem h-2rem" (click)="addLink(intern)" ></button>            
                <button pButton pRipple type="button" pTooltip="Link" tooltipPosition="top" *ngIf="intern.link != null " icon="pi pi-link" class="p-button-rounded p-button-text w-2rem h-2rem" (click)="addLink(intern)" ></button>
                <button pButton pRipple type="button" pTooltip="Comentario" tooltipPosition="top"  *ngIf="intern.comment == null || intern.comment == ''" icon="pi pi-comment" class="p-button-rounded p-button-plain p-button-text w-2rem h-2rem" (click)="addComment(intern)" ></button>            
                <button pButton pRipple type="button" pTooltip="Comentario" tooltipPosition="top" *ngIf="intern.comment != null " icon="pi pi-comments" class="p-button-rounded p-button-text w-2rem h-2rem" (click)="addComment(intern)" ></button>
                <button pButton pRipple type="button" pTooltip="Editar" tooltipPosition="top" icon="pi pi-pencil" class="p-button-rounded p-button-text w-2rem h-2rem" (click)="addOrEditIntern(intern)" ></button>
                <button pButton pRipple type="button" pTooltip="Eliminar" tooltipPosition="top" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text w-2rem h-2rem" (click)="delete(intern.id)"></button>            
            </td>
        </tr>
    </ng-template>
</p-table>