<div class="flex flex-row justify-content-between">
  <div class="flex justify-content-start">
      <h3 class="p-0 m-0 mb-2">
          Forecast Detail: {{group.name}}
      </h3>
  </div>
</div>

<div style="display: flex; flex-direction: row;">
<div style="text-align: center">
  <div style="display: flex; flex-direction: row">
    <div style="display: flex; align-items: center; flex-direction: row">
      <div class="legend" style="background-color: #aae3ff"></div>
      <div class="textlegend">Public Holidays</div>
    </div>
    <div style="display: flex; align-items: center; flex-direction: row">
      <div class="legend" style="background-color: #ffffaa"></div>
      <div class="textlegend">Vacation</div>
    </div>
    <div style="display: flex; align-items: center; flex-direction: row">
      <div class="legend" style="background-color: #c2c2cc"></div>
      <div class="textlegend">Weekend</div>
    </div>
    <div style="display: flex; align-items: center; flex-direction: row; margin-right: 10px;">
      <div class="legend" style="background-color: #f7bd46" ></div>
      <div class="textlegend">Other</div>
    </div>
  </div>
</div>

<div class="month-selector" style="margin-left: auto; display: flex; align-items: center;">
  <p style="margin-right: 5px;">Selected Month</p>
  <button pButton pRipple type="button" icon="pi pi-angle-left"
                  class="p-button-rounded p-button-text" (click)="previousMonth()" [disabled]="isPreviousMonthDisabled()"></button>
  <p-dropdown [(ngModel)]="selectedMonth" (onChange)="onChangeMonth($event)" [options]="monthsList" optionLabel="code"></p-dropdown>
  <button pButton pRipple type="button" icon="pi pi-angle-right"
                  class="p-button-rounded p-button-text" (click)="nextMonth()" [disabled]="isNextMonthDisabled()"></button>
</div>
</div>

<p-table [style]="{'height':'calc(100vh - 175px)','width':tableWidth}"  
       [scrollable]="true" scrollHeight="flex" selectionMode="single" 
       [value]="details" [responsive]="true" styleClass="p-datatable-striped" 
       [paginator]="true" [rows]="20" sortField="name" [sortOrder]="1">

       <ng-template pTemplate="header">
        <tr>
          <th class="flex flex-1 w-12rem align-items-center justify-content-center top-header">
              <span>Person</span>
          </th>
      
          <th class="flex-none w-6rem align-items-center justify-content-center top-header">
              <span>Working Days</span>
          </th>
      
          <th class="flex-none w-6rem align-items-center justify-content-center top-header">
              <span>Festives</span>
          </th>

          <th class="flex-none w-6rem align-items-center justify-content-center top-header">
              <span>Vacations</span>
          </th>
      
          <th class="flex-none w-6rem align-items-center justify-content-center top-header">
              <span>Others</span>
          </th>
          <th *ngFor="let day of monthDaysList" class="flex-none w-2rem justify-content-center top-header border-left-1 border-gray-400">
              <span>{{day[1].day}}</span>
          </th>
        </tr>
      </ng-template>
      
      <ng-template pTemplate="body" let-detail>
        <tr class="border-bottom-1 border-gray-300">
          <td class="flex flex-1 w-12rem border-none">
            {{ detail.fullName }}
          </td>
          <td class="flex-none w-6rem flex-column justify-content-center border-none">
            <p>{{ detail.workingDays }}</p>
          </td>
          <td class="flex-none w-6rem flex-column justify-content-center border-none">
            <p>{{ detail.festives }}</p>
          </td>
          <td class="flex-none w-6rem flex-column justify-content-center border-none">
            <p>{{ detail.vacations }}</p>
          </td>
          <td class="flex-none w-6rem flex-column justify-content-center border-none">
            <p>{{ detail.others }}</p>
          </td>
          <td *ngFor="let day of monthDaysList" [ngStyle]="{ 'background-color': day[1]?.type.color }" class="flex-none w-2rem justify-content-center border-none border-left-1 border-gray-300">
            <p>{{ details.indexOf(detail) }}</p>
          </td>
        </tr>
      </ng-template>

</p-table>