.name{
    min-width: 100px;
}
.lastname{
    min-width: 230px;
}
.customer{
    min-width: 140px;
}
.active{
    min-width: 100px;
    max-width: 100px;
}
.buttons{
    min-width: 80px;
    max-width: 80px;
}
.p-button.p-button-icon-only.p-button-rounded{
    width: 2rem;
    height: 2rem;
}