::ng-deep{
    .p-listbox{
        outline: none;
        border: none;    
    }
    .p-listbox .p-listbox-header {
        padding: 0;
    }
    .p-listbox .p-listbox-list .p-listbox-empty-message {
        padding: 0; 
        color: #29abe2;
        background: transparent;
    }
    .p-listbox .p-listbox-header .p-listbox-filter-icon {
        color: transparent;
    }
    .p-input-icon-left > .p-inputtext {
        padding-left: 0;
    }
    .p-inputtext{
        border-left: transparent; 
        border-right: transparent;
        border-top: transparent;
    }
}