<div class="flex flex-column">
    <div class="text-black-alpha-50 text-3xl mt-0 mb-2">
        <span><strong>Edit Group</strong></span>        
    </div>
    <div class="flex flex-row flex-1 gap-5"> 
      <span class="flex-1 p-input-icon-left">
        <span class="p-float-label">Group Name</span>
        <input type="text" [(ngModel)]="group.name" pInputText class="w-full"/>
      </span> 
      <div class="justify-content-end mt-4 mr-1">
        <p-inputSwitch>
        </p-inputSwitch>
        Visible for members
      </div>
        <span class="flex-2">
      </span>  
    </div>
    <div class="mb-3">
    </div>
    <div class="flex flex-row flex-1 gap-5">   
        <span class="flex-2 p-float-label">
            <p-autoComplete [suggestions]="groupPerson" [forceSelection]="true" [showEmptyMessage]="true"
              [(ngModel)]="selectedMember" (completeMethod)="searchPerson($event)"
              (onSelect)="assignMember()" field="field">
            </p-autoComplete>
            <label>Members: search person</label>
        </span>
        <span class="flex-2 p-float-label">
            <p-autoComplete [suggestions]="groupPerson" [forceSelection]="true" [showEmptyMessage]="true"
              [(ngModel)]="selectedManager" (completeMethod)="searchPerson($event)"
              (onSelect)="assignManager()" field="field">
            </p-autoComplete>
            <label>Managers: search person</label>
        </span>
    </div>
    <div class="flex flex-row flex-1 gap-5">   
        <span class="w-6 flex-2 justify-content-end">
            <p-listbox [options]="group.members" [listStyle]="{'max-height':'140px'}">
                <ng-template let-member pTemplate="group.members">
                    <div>
                        <button (click)="deleteMember(this.member)" pButton pRipple type="button" type="button" icon="pi pi-trash" class="mt-0 p-button-text"></button>
                    </div> 
                    <div>
                        <span>{{member.name}}&nbsp;{{member.lastname}}</span> 
                    </div>  
                </ng-template>
            </p-listbox>
        </span>  
        <span class="w-6 flex-2 justify-content-end">
            <p-listbox [options]="group.managers" [listStyle]="{'max-height':'140px'}" >
                <ng-template let-manager pTemplate="group.managers">
                    <div>
                        <button (click)="deleteManager(this.manager)" pButton pRipple type="button" type="button" icon="pi pi-trash" class="mt-0 p-button-text"></button>
                    </div>  
                    <div>
                        <span>{{manager.name}}&nbsp;{{manager.lastname}}</span> 
                    </div>           
                </ng-template>
            </p-listbox>
        </span> 
    </div>
    <div class="mb-2">
    </div>
    <div class="flex flex-row flex-1 gap-5">   
        <span class="w-6 flex-2 p-float-label">
        </span>
        <span class="w-6 flex-2 p-float-label">
            <p-autoComplete [suggestions]="groupSubgroup" [forceSelection]="true" [showEmptyMessage]="true"
              [(ngModel)]="selectedSubgroup" (completeMethod)="searchSubgroup($event)"
              (onSelect)="assignSubgroup()" field="field">
            </p-autoComplete>
            <label>Subgroups: search groups</label>
        </span>
    </div>
    <div class="mb-1">
    </div>
    <div class="flex flex-row flex-1 gap-5">   
        <span class="w-6 flex-2 justify-content-end">
        </span>  
        <span class="w-6 flex-2 justify-content-end">
            <p-listbox [options]="group.subgroups" [listStyle]="{'max-height':'140px'}" >
                <ng-template let-subgroup pTemplate="group.subgroups">
                    <div>
                        <button (click)="deleteSubGroup(this.subgroup)" pButton pRipple type="button" type="button" icon="pi pi-trash" class="mt-0 p-button-text"></button>
                    </div>  
                    <div>
                        <span>{{subgroup.name}}</span> 
                    </div>           
                </ng-template>
            </p-listbox>
        </span> 
    </div>
    <div class="mb-3"></div>
    <div class="flex justify-content-end gap-2">    
      <button pButton pRipple label="Close" class="bg-white text-blue-400 w-12rem m-2 mt-0" (click)="onClose()"></button>
      <button pButton pRipple label="Save" class="bg-blue-400 w-12rem m-2 mt-0" (click)="save(this.group)"></button>
    </div>
  </div>