@import "./src/assets/scss/master";

.private-layout {
  ::ng-deep {
    .p-sidebar {
      box-shadow: none;
      background-color: #f2f2f2;
      position: relative;
      
    }
    .p-sidebar-left {
        top:auto;
        width: auto;
        margin-top: 14px;
    }
  }
}
