

<div
  id="calendarsDiv"
  #calendarsDiv
  style="
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 20px;
    justify-content: space-evenly;
    margin-bottom: 2rem;
  "
>
  <app-component-calendar
    *ngFor="let month of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]"
    [year]="1 * this.selectedYearAux.code"
    [month]="month"
    [metadataDay]="selectedCalendar"
    (clickEvent)="selectDate($event)"
  ></app-component-calendar>

  
</div>
