<div
  style="
    width: 286px;
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    background: #ffffff;
  "
>
  <div style="padding: 1rem">
    <span class="title">{{ MONTH_NAMES[month] }} {{ year }}</span>
  </div>
  <div
    style="
      width: 268px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    
    "
  >
    <div class="week-title"><span>Lu</span></div>
    <div class="week-title"><span>Ma</span></div>
    <div class="week-title"><span>Mi</span></div>
    <div class="week-title"><span>Ju</span></div>
    <div class="week-title"><span>Vi</span></div>
    <div class="week-title"><span>Sa</span></div>
    <div class="week-title"><span>Do</span></div>
  </div>
  <div
    *ngFor="let week of data"
    style="
      width: 268px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    "
  >
    <div *ngFor="let day of week" >
      <div
        [ngClass]="{
          day: day.actualMonth, 
          'disable-day': day.actualMonth === false
          
        }"
        
        (click)="clickDate(day)"
        [ngStyle]="{ 'background-color': day.metadata?.type?.color }"
        
      >
        <span>{{ day.day }}</span>
      </div>
    </div>
  </div>
</div>
