<div class="flex flex-row justify-content-between">
    <div class="mt-2" >
        <span class="p-span-color"><strong>My Groups</strong></span>
    </div>
    <div class="flex-1 align-items-center justify-content-left">    
        <button pButton class="p-button-create" label="Create new group"></button>   
    </div>
    <div>
        <p-inputSwitch [(ngModel)]="adminView"
                        (onChange)="clickAdminView($event)">
        </p-inputSwitch>
    </div>
</div>

<p-scrollPanel>
    <p-table [style]="{'height':'calc(100vh - 200px)'}" scrollHeight="flex" selectionMode="single" 
    [value]="groups" styleClass="p-datatable-striped" [paginator]="true" [rows]="20" sortField="name" [sortOrder]="1" >
        <ng-template pTemplate="header">
            <tr>
                <th class="flex-1" pSortableColumn="name" >
                    Group Name<p-sortIcon field="name"></p-sortIcon>
                </th>
                <th class="flex-2" pSortableColumn="manager" >
                    Administrators<p-sortIcon field="manager"></p-sortIcon>
                </th>
                <th class="flex-none w-1 align-items-center justify-content-center" pSortableColumn="members">
                    Members<p-sortIcon field="members"></p-sortIcon>
                </th>
                <th class="flex-none w-1 align-items-center justify-content-center" pSortableColumn="subgroups">
                    Subgroups<p-sortIcon field="subgroups"></p-sortIcon>
                </th>              
                <th class="flex-none w-1 align-items-center justify-content-center">
                    Actions
                </th>  
            </tr>
            <tr>
                <th class="flex-1">
                    <p-columnFilter class="w-full" type="text" field="name" matchMode="contains" [showMenu]="false"></p-columnFilter>
                </th>
                <th class="flex-2" >
                    <p-columnFilter class="w-full" type="text" field="manager" matchMode="contains" [showMenu]="false"></p-columnFilter>
                </th>
                <th class="flex-none w-1">
                    <p-columnFilter class="w-full" type="text" field="members" matchMode="contains" [showMenu]="false"></p-columnFilter>
                </th>
                <th class="flex-none w-1">
                    <p-columnFilter class="w-full" type="text" field="subgroups" matchMode="contains" [showMenu]="false"></p-columnFilter>
                </th>                             
                <th class="flex-none w-1 align-items-center justify-content-center"></th>            
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-group let-columns="columns">
            <tr *ngIf="adminView">
                <td class="flex-1">
                    {{group.name}}
                </td>
                <td class="flex-2">
                    {{group.manager}}
                </td>
                <td class="flex-none w-1 justify-content-center">
                    {{group.members}}
                </td>
                <td pFrozenColumn class="flex-none w1 justify-content-center">
                    {{group.subgroups}}
                </td>
                <td pFrozenColumn class="flex-none w-1 justify-content-center">
                    <div  class="flex flex-row justify-content-between">
                        <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
                        <button *ngIf="group.externalId" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-scrollPanel>
<p-toast position="top-center"></p-toast>
<p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle" #confirmDialog></p-confirmDialog>
