<div class="flex flex-row">
    <div class="text-black-alpha-50 mt-4" >
        <span><strong>My Groups</strong></span>
    </div>
    <div class="flex-1 mt-1">    
        <button pButton class="bg-blue-400 m-2 mb-3" label="Create new group"></button>   
    </div>
    <div class="justify-content-end mt-4 mr-1">        
        <p-inputSwitch [(ngModel)]="adminView"
                       (onChange)="clickAdminView($event)" label="Admin View">
        </p-inputSwitch>
        Admin View
    </div>
</div>

<p-scrollPanel>
    <p-table [style]="{'height':'calc(100vh - 200px)'}" scrollHeight="flex" selectionMode="single" 
    [value]="groups" styleClass="p-datatable-striped" [paginator]="true" [rows]="20" sortField="name" [sortOrder]="1" >
        <ng-template pTemplate="header">
            <tr>
                <th class="flex-1 text-black-alpha-50" pSortableColumn="name" >
                    Group Name<p-sortIcon field="name"></p-sortIcon>
                </th>
                <th class="flex-2 text-black-alpha-50" pSortableColumn="manager" >
                    Administrators<p-sortIcon field="manager"></p-sortIcon>
                </th>
                <th class="flex-none w-1 text-black-alpha-50" pSortableColumn="members">
                    Members<p-sortIcon field="members"></p-sortIcon>
                </th>
                <th class="flex-none w-1 text-black-alpha-50" pSortableColumn="subgroups">
                    Subgroups<p-sortIcon field="subgroups"></p-sortIcon>
                </th>              
                <th class="flex-none w-1 text-black-alpha-50">
                    Actions
                </th>  
            </tr>
            <tr>
                <th class="flex-1 text-black-alpha-50">
                    <p-columnFilter class="w-full" type="text" field="name" matchMode="contains" [showMenu]="false"></p-columnFilter>
                </th>
                <th class="flex-2 text-black-alpha-50" >
                    <p-columnFilter class="w-full" type="text" field="manager" matchMode="contains" [showMenu]="false"></p-columnFilter>
                </th>
                <th class="flex-none w-1 text-black-alpha-50">
                    <p-columnFilter class="w-full" type="text" field="members" matchMode="contains" [showMenu]="false"></p-columnFilter>
                </th>
                <th class="flex-none w-1 text-black-alpha-50">
                    <p-columnFilter class="w-full" type="text" field="subgroups" matchMode="contains" [showMenu]="false"></p-columnFilter>
                </th>                             
                <th class="flex-none w-1 text-black-alpha-50"></th>            
            </tr>
        </ng-template>
        <ng-template  pTemplate="body" let-group let-columns="columns">
            <tr>
                <td class="flex-1">
                    {{group.name}}
                </td>
                <td class="flex-2">
                    {{group.manager}}
                </td>
                <td class="flex-none w-1">
                    {{group.members}}
                </td>
                <td class="flex-none w1">
                    {{group.subgroups}}
                </td>
                <td class="flex-none w-1">
                    <div  class="flex flex-row">
                        <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text" (click)="editGroup(group)"></button>
                        <button *ngIf="group.externalId!=null" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-scrollPanel>
<p-toast position="top-center"></p-toast>
<p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle" #confirmDialog></p-confirmDialog>
