.small-input-switch {
    .p-inputswitch {
        height: 1.2rem;
        width: 2.4rem;

        &.p-inputswitch-checked {
            .p-inputswitch-slider::before {
                transform: translateX(1rem);
            }
        }

        .p-inputswitch-slider::before {
            width: 0.8rem;
            height: 0.8rem;
        }
    }
}
td {
    white-space: normal;
    word-wrap: break-word;
  }
