<div class="flex flex-row justify-content-between">
    <div class="flex justify-content-start">
        <h3 class="p-0 m-0 mb-2">
            My Groups
        </h3>
    </div>
</div>

<div class="flex flex-row justify-content-between items-center">
    
    <div class="flex items-center ml-auto">
        
        <div class="flex items-center ml-2 mt-4">
            <div class="small-input-switch">
                <p-inputSwitch [(ngModel)]="adminView" (onChange)="clickAdminView($event)" label="Admin View"></p-inputSwitch>
            </div>
            <span style="margin-left: 0.5rem;">Admin View</span>
        </div>
    </div>
    <button tooltipPosition="top" pButton pRipple type="button" icon="pi pi-user-plus"
            class="p-button-lg m-2 p-button-outlined" pTooltip="Añadir grupo" (click)="createGroup('crear')"></button>
    
</div>



<p-table [style]="{'height':'calc(100vh - 175px)','width':tableWidth}" [scrollable]="true" scrollHeight="flex" selectionMode="single" [value]="groups" 
    [responsive]="true" styleClass="p-datatable-striped" [paginator]="true" [rows]="20" sortField="name" [sortOrder]="1">
    <ng-template pTemplate="header">
       <tr>
            <th class="flex flex-column align-items-center justify-content-center" >
                <div class="flex flex-row w-full top-header" pSortableColumn="name">
                    <span class="flex flex-1 justify-content-center">Group Name</span>
                    <p-sortIcon field="name"></p-sortIcon>
                </div>                
                <div class="w-full foot-header">
                    <p-columnFilter class="w-full" type="text" field="name" matchMode="contains" [showMenu]="false" [showClearButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)" class="p-inputtext">
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>

            <th class="flex-none flex-column align-items-center justify-content-center" style="width: 800px">
                <div class="flex flex-row w-full top-header" pSortableColumn="admin">
                    <span class="flex flex-1 justify-content-center">Administrators</span>
                    <p-sortIcon field="admin"></p-sortIcon>
                </div >
                <div class="w-full foot-header">
                    <p-columnFilter class="w-full" type="text" field="admin" matchMode="contains" [showMenu]="false" [showClearButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)" class="p-inputtext">
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>

            <th class="flex-none w-7rem flex-column align-items-center justify-content-center" >
                <div class="flex flex-row w-full top-header" pSortableColumn="members">
                    <span class="flex flex-1 justify-content-center"># Member</span>
                    <p-sortIcon field="members"></p-sortIcon>
                </div>                    
                <div class="w-full foot-header">
                    <p-columnFilter class="w-full" type="text" field="members" matchMode="contains" [showMenu]="false" [showClearButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)" class="p-inputtext">
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>

            <th class="flex-none w-7rem flex-column align-items-center justify-content-center" >
                <div  class="flex flex-row w-full top-header" pSortableColumn="subgroups">
                    <span class="flex flex-1 justify-content-center"># Subgroup</span>
                    <p-sortIcon field="subgroups"></p-sortIcon>
                </div>                
                <div class="w-full foot-header">
                    <p-columnFilter class="w-full" type="text" field="subgroups" matchMode="contains" [showMenu]="false" [showClearButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)" class="p-inputtext">
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>     

            <th class="buttons flex-none w-6rem flex-column">
                <div class="flex flex-row w-full top-header"></div>
                <div class="w-full foot-header"></div>
            </th>  
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-group let-columns="columns">
        <tr>
            <td class="flex">
                {{group.name}}
            </td>
            <td class="flex-none" style="width: 800px"><div class="white-space-nowrap overflow-hidden text-overflow-ellipsis">{{group.manager}}</div>
                    
            </td>
            <td class="flex-none w-7rem justify-content-end">
                <p class="ml-8">{{group.members}}</p>
            </td>
            <td class="flex-none w-7rem justify-content-end">
                <p class="ml-8">{{group.subgroups}}</p>
            </td>
            <td class="flex-none w-6rem">
                <button *ngIf="group.externalId !== null" pButton pRipple type="button" icon="pi pi-eye"
                    class="p-button-rounded p-button-text" pTooltip="Visualizar" (click)="viewGroup(group,'visualizar')"></button>

                <button *ngIf="group.externalId === null" pButton pRipple type="button" icon="pi pi-pencil"
                    class="p-button-rounded p-button-text" pTooltip="Editar" (click)="editGroup(group,'editar')"></button>

                <button *ngIf="group.externalId === null" pButton pRipple type="button" icon="pi pi-trash"
                    class="p-button-rounded p-button-danger p-button-text" pTooltip="Eliminar"
                    (click)="deleteGroup(group)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-toast position="top-center"></p-toast>
<p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle" #confirmDialog></p-confirmDialog>