@import "./src/assets/scss/master";

::ng-deep {
    .toolbar-header {
        height: 42px;
        .p-toolbar {
            background-color: #272936;
            border-radius: 0px !important;
            
            padding-top: 5px;
            padding-bottom: 6px;;
          
        }
    }

    .header-button {
        .p-button {
            min-width: 0px;
            background: transparent;

            .p-avatar{
                background: transparent;
            }
        }

        .p-button:enabled:focus {
            background: transparent;
        }

        .p-button:enabled:hover {
            background: transparent;
        }
    }
}